services:
  app:
    image: aperal/travel-blog-api:latest
    environment:
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${DATABASE_USER}
      SPRING_DATASOURCE_PASSWORD: ${DATABASE_USER_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: ${SPRING_JPA_HIBERNATE_DDL_AUTO}
      CORS_ALLOWED_ORIGIN: ${CORS_ALLOWED_ORIGIN}
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXP_TIME: ${JWT_EXP_TIME}
      JWT_COOKIE_SECURE: ${JWT_COOKIE_SECURE}
      JWT_COOKIE_SAMESITE: ${JWT_COOKIE_SAMESITE}
      CLOUDINARY_CLOUD_NAME: ${CLOUDINARY_CLOUD_NAME}
      CLOUDINARY_API_KEY: ${CLOUDINARY_API_KEY}
      CLOUDINARY_API_SECRET: ${CLOUDINARY_API_SECRET}
      FRONTEND_BASE_URL: ${FRONTEND_BASE_URL}
      AUTH_PASSWORD_RESET_TOKEN_TTL_MINUTES: ${AUTH_PASSWORD_RESET_TOKEN_TTL_MINUTES}
      SPRING_MAIL_HOST: ${SPRING_MAIL_HOST}
      SPRING_MAIL_PORT: ${SPRING_MAIL_PORT}
      SPRING_MAIL_USERNAME: ${SPRING_MAIL_USERNAME}
      SPRING_MAIL_PASSWORD: ${SPRING_MAIL_PASSWORD}
      SPRING_MAIL_FROM: ${SPRING_MAIL_FROM}
      SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH: ${SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH}
      SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE: ${SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE}
    depends_on:
      db:
        condition: service_healthy
    networks:
      - traefik         # pour que Traefik voie le service
      - backend         # réseau privé app <-> db
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.travelblog-api.rule=Host(`api.travel-blog.cloud`)"
      - "traefik.http.routers.travelblog-api.entrypoints=websecure"
      - "traefik.http.routers.travelblog-api.tls.certresolver=letsencrypt"
      - "traefik.http.services.travelblog-api.loadbalancer.server.port=8080"
      - "traefik.docker.network=traefik"


  db:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DATABASE_USER}
      MYSQL_PASSWORD: ${DATABASE_USER_PASSWORD}
    volumes:
      - db-data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 60
    networks:
      - backend

networks:
  traefik:
    external: true
  backend:
    driver: bridge

volumes:
  db-data:
