services:
  db:
    image: mysql:8
    container_name: travel-blog-mysql-dev
    restart: always
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DATABASE_USER}
      MYSQL_PASSWORD: ${DATABASE_USER_PASSWORD}
    volumes:
      - db-data-dev:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 60

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: travel-blog-api-dev
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${DATABASE_USER}
      SPRING_DATASOURCE_PASSWORD: ${DATABASE_USER_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: ${SPRING_JPA_HIBERNATE_DDL_AUTO}
      CORS_ALLOWED_ORIGIN: ${CORS_ALLOWED_ORIGIN}
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXP_TIME: ${JWT_EXP_TIME}
      JWT_COOKIE_SECURE: ${JWT_COOKIE_SECURE}
      JWT_COOKIE_SAMESITE: ${JWT_COOKIE_SAMESITE}
      CLOUDINARY_CLOUD_NAME: ${CLOUDINARY_CLOUD_NAME}
      CLOUDINARY_API_KEY: ${CLOUDINARY_API_KEY}
      CLOUDINARY_API_SECRET: ${CLOUDINARY_API_SECRET}
      CLOUDINARY_ENABLED: ${CLOUDINARY_ENABLED}
      FRONTEND_BASE_URL: ${FRONTEND_BASE_URL}
      AUTH_PASSWORD_RESET_TOKEN_TTL_MINUTES: ${AUTH_PASSWORD_RESET_TOKEN_TTL_MINUTES}
      SPRING_MAIL_HOST: ${SPRING_MAIL_HOST}
      SPRING_MAIL_PORT: ${SPRING_MAIL_PORT}
      SPRING_MAIL_USERNAME: ${SPRING_MAIL_USERNAME}
      SPRING_MAIL_PASSWORD: ${SPRING_MAIL_PASSWORD}
      SPRING_MAIL_FROM: ${SPRING_MAIL_FROM}
      SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH: ${SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH}
      SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE: ${SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE}
    depends_on:
      db:
        condition: service_healthy

volumes:
  db-data-dev:
